.input__container{
  position: absolute;
  top: 1vh;
  left: 1vw;
  background-color: white;
 z-index: 20;
}
 
.input{
  width: 30vw;
  height: 5rem;
  padding: 1rem;
  border-radius: 5px;
  border: none;
}



.search{
  position: absolute;
  top: 15vh;
  display: flex;
  flex-direction: column;
  background-color: rgba(5, 5, 5, 0.4); 
  height: 30%;
  width: 50%;
  z-index: 200;
  border-radius: 1rem;
  overflow: hidden;
  padding: 1rem;
  color: white;
  &::before{
    content: "";
    position: absolute;
    left: 0;
    top:11vh;
    background-color: hsla(0, 0%, 100%, 0.275);
    height: 1px;
    width: 100%;
  }
}

.topinfo{
 width: 100%;
  height: 8vh;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.temperature{
  font-size: 5rem;
}

.infoimg{
  width: 7rem;
  height: 7rem;
}

.description{
  text-transform: uppercase;
  font-size: 2rem;
}

.undertop{
  background-color: red;
  width: 100%;
  height: 6vh;
  margin-top: 2.5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}









.locattion__cont{
  
  color: white;
  display: flex;
  align-items: center;
}

.location{

}

.countryInitials{
 
}