
.search {
  cursor: pointer;
  position: absolute;
  top: 15vh;
  display: flex;
  flex-direction: column;
  background-color: rgba(5, 5, 5, 0.4);
  min-height: 30%;
  width: 50%;
  z-index: 200;
  border-radius: 1rem;
  overflow: hidden;
  padding: 1rem;
  color: white;

  @media only screen and (max-width: 60rem) {
    width: 90%;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 11vh;
    background-color: hsla(0, 0%, 100%, 0.275);
    height: 1px;
    width: 100%;
  }
}

.topinfo {
  cursor: pointer;
  width: 100%;
  height: 8vh;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.temptext {
  font-size: 2.5rem;
}

.temperature {
  font-size: 5rem;
  margin-left: 1rem;
}

.infoimg {
  width: 7rem;
  height: 7rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.description {
  text-transform: uppercase;
  font-size: 2rem;
}

.undertop {
  width: 100%;
  height: 6vh;
  margin-top: 2.5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.locattion__cont {
  color: white;
  display: flex;
  align-items: center;
}

.info {
  display: flex;
}

.location__cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.location {
  font-size: 3.5rem;
  padding: 1rem;
}

.countryInitials {
  font-size: 2.5rem;
  padding: 1rem;
}
