
.input__container {
  position: absolute;
  top: 2vh;
  left: 2vw;
  z-index: 20;
  display: flex;
  flex-direction: column;
}

.input {
  width: 25vw;
  height: 5rem;
  padding: 1rem;
  border-radius: 5px;
  border: none;
  background-color: rgba(5, 5, 5, 0.4);
  color: white;
  transition: all 0.2s;
}

.input:focus {
  background-color: rgba(5, 5, 5, 0.4);
  width: 31vw;
}

.btn {
  display: none;
}

.error__msg {
  color: rgb(255, 23, 23);
  text-transform: uppercase;
  font-size: 1.4rem;
  visibility: hidden;
  margin-top: 1rem;
  transform: scaleY(0);
  transform-origin: top;
  transition: all 1s;
}

.visible {
  visibility: visible;
  transform: scaleY(1);
}
