.error__msg{
  color: red;
  text-transform: uppercase;
  font-size: 1.4rem;
  visibility: hidden;
  transform: scaleY(0);
  transition: all .2s;
}

.visible{
  visibility: visible;
  transform: scaleY(1);
}